<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.liqian.mall.dao.PayInfoMapper">
    <resultMap id="BaseResultMap" type="com.liqian.mall.entity.PayInfo">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="order_no" property="orderNo" jdbcType="VARCHAR"/>
        <result column="pay_platfrom" property="payPlatfrom" jdbcType="INTEGER"/>
        <result column="platform_number" property="platformNumber" jdbcType="VARCHAR"/>
        <result column="platform_status" property="platformStatus" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, user_id, order_no, pay_platfrom, platform_number, platform_status, create_time, 
    update_time
  </sql>
    <insert id="insertSelective" parameterType="com.liqian.mall.entity.PayInfo">
        insert into mall_pay_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="orderNo != null">
                order_no,
            </if>
            <if test="payPlatfrom != null">
                pay_platfrom,
            </if>
            <if test="platformNumber != null">
                platform_number,
            </if>
            <if test="platformStatus != null">
                platform_status,
            </if>
            create_time,
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="orderNo != null">
                #{orderNo,jdbcType=VARCHAR},
            </if>
            <if test="payPlatfrom != null">
                #{payPlatfrom,jdbcType=INTEGER},
            </if>
            <if test="platformNumber != null">
                #{platformNumber,jdbcType=VARCHAR},
            </if>
            <if test="platformStatus != null">
                #{platformStatus,jdbcType=VARCHAR},
            </if>
            now(),
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.liqian.mall.entity.PayInfo">
        update mall_pay_info
        <set>
            <if test="userId != null">
                user_id = #{userId,jdbcType=INTEGER},
            </if>
            <if test="orderNo != null">
                order_no = #{orderNo,jdbcType=VARCHAR},
            </if>
            <if test="payPlatfrom != null">
                pay_platfrom = #{payPlatfrom,jdbcType=INTEGER},
            </if>
            <if test="platformNumber != null">
                platform_number = #{platformNumber,jdbcType=VARCHAR},
            </if>
            <if test="platformStatus != null">
                platform_status = #{platformStatus,jdbcType=VARCHAR},
            </if>
            update_time = now(),
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

</mapper>